/******************************************************
HEADER

******************************************************/
body {
  width: 100%;
}

.header-lg {
  background: rgb(0, 51, 0);
  color: #fff;
  margin: 0 0 0 0;
  padding: 0;
  width: 100%;
}

.header {
  padding: 50px;
}

h1 {
  text-align: center;
  margin: 5px;
  padding: 5px;
  font-family: 'Josefin Sans', sans-serif;
}

.fa-shopping-bag {
  margin: 5px;
  padding: 5px;
}

h2 {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}

/******************************************************

BODY
******************************************************/
#thankyou {
       display: none;
     }

.receipt {
  display: none;
}

.header-sm {
  background: rgb(0, 128, 0);
  color: #fff;
  width: 100%;
}

.large {
  background: #fff;
 color: #000;
}
/******************************************************

FOOTER
******************************************************/

/******************************************************


******************************************************/

/******************************************************


******************************************************/
